@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.time-calendar-scrollbar {
  position: relative;
}

.time-calendar-scrollbar::-webkit-scrollbar {
  width: 3px;
}

.time-calendar-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  height: 31px;
  border-radius: 2px;
}

.time-calendar-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}
