@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.time-calendar-scrollbar {
  position: relative;
}

.time-calendar-scrollbar::-webkit-scrollbar {
  width: 3px;
}

.time-calendar-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  height: 31px;
  border-radius: 2px;
}

.time-calendar-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

#ch-plugin {
  bottom: 20px !important;
}

@media (max-width: 743px) {
  #ch-plugin {
    right: calc(20% + 60px) !important;
  }
}

@media (min-width: 744px) {
  #ch-plugin {
    right: calc(20% + 72px) !important;
  }
}

@media (min-width: 1280px) {
  #ch-plugin {
    right: calc(20% + 72px) !important;
  }
}
